#!/usr/bin/env bash
echo "MXCUBE-pycharm.rc: Exporting MXCuBE specific variables" 1>&2

export MXCUBE_BASE=/beamlines/bl13/controls/devel/pycharm/MXCuBE
export MXCUBE_ROOT=$MXCUBE_BASE/mxcube
export MXCUBE_SITE=ALBA
export MXCUBE_XML_PATH=$MXCUBE_BASE/bl13_config/hardware_objects.xml
export MXCUBE_GUI_PATH=$MXCUBE_BASE/bl13_config/guis.yml
export MXCUBE_LOG_PATH=/tmp/mxcube-pycharm
export INSTITUTE=$MXCUBE_SITE

export PYTHONPATH=$MXCUBE_ROOT:$PYTHONPATH

# Post processing scripts
#export POST_PROCESSING_SCRIPTS_ROOT=/beamlines/bl13/controls/devel/pycharm/bl13_processing
#export CLA=claxaloc01

# Include XALOC specific python code needed by MXCuBE
export PYTHONPATH=$PYTHONPATH:$MXCUBE_ROOT/Bricks/widgets/QLed

# Export binaries path
export PATH=$MXCUBE_BASE/bl13_config/bin:$PATH

# Install non packaged modules as user
#export PYTHONPATH=$PYTHONPATH:/homelocal/sicilia/.local/lib/python2.7/site-packages

# Simulation mode => MXCUBE_BYPASS_SHUTTERS=True
# If it does not exist, set to False by default
[[ -z "${MXCUBE_BYPASS_SHUTTERS}" ]] && MXCUBE_BYPASS_SHUTTERS=False
echo
echo "Set this variable to True to avoid checking the shutters"
echo "****************************************************************"
echo "  MXCUBE_BYPASS_SHUTTERS:" $MXCUBE_BYPASS_SHUTTERS
echo "****************************************************************"
